- item_class = (todo_item.done ? "done" : "outstanding")
- item_id = 'todo_item_' + todo_item.id.to_s
- check_action = :undo if todo_item.done
- check_action ||= :done

%li{ :id => item_id }
  %span{ :class => item_class }
    = link_to todo_item.title, todo_item
  = button_to "Done", done_todo_item_path( todo_item ) if !todo_item.done
  = button_to "Undo", undo_todo_item_path( todo_item ) if todo_item.done
  = button_to "Delete", todo_item_path( todo_item ), :confirm => "Are you sure you want to delete this item?"
